@import '~bootstrap/scss/functions';
@import './helpers/_variables';
@import '~bootstrap/scss/bootstrap';

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}